<!DOCTYPE html>

<html lang="en">
    <head>
        <title>ToDo App</title>
    </head>
    <body>
        <h1>ToDo App</h1>
        <ul>
            {% for task in todo %}
            <li>
                {{ task }}
                <form action="/remove" method="post">
                    <input type="hidden" name="task" value="{{task}}" />
                    <button type="submit">Remove</button>
                </form>
            </li>
            <br>
            {% endfor %}
        </ul>
        <br><br>
        <form action="/" method="post">
            Add a New Task
            <br><br>
            <input type="text" name="task" placeholder="Add Task" />
            <br><br>
            <button type="submit">Submit</button>
    </body>
</html>
